// app/assets/scss/style.scss
// ~ Глобальные базовые стили
@import "global/null";
@import "global/base";

// ~ Общие стили для каркаса приложения (App Layout)
body {
  display: flex;
  flex-direction: column;
  font-size: $fontSize;
  background-color: $colorBg;
  color: $fontColor;
  position: relative;
  overflow-x: hidden;
  font-family: $fontFamily;
}

.main {
  flex: 1 1 auto;
}

// ~ Вспомогательные глобальные утилиты
.ptb {
  @include adaptiveValue("padding-top", 90, 76);
  @include adaptiveValue("padding-bottom", 90, 76);
}
