// app\assets\scss\global\base.scss
@use "sass:math";

// 1. Сетка и контейнеры
@if $isResponsive {
  [class*="__container"] {
    @if $maxWidthContainer > 0 {
      max-width: var(--max-width-container);
      box-sizing: content-box;
      margin: 0 auto;
    }

    @if $containerPadding > 0 {
      @if $maxWidthContainer > 0 {
        padding: 0 calc(var(--container-padding) / 2);
      } @else {
        @include adaptiveValue("padding-left", (math.div($containerPadding, 2)), 15);
        @include adaptiveValue("padding-right", (math.div($containerPadding, 2)), 15);
      }
    }
  }
}

// 2. Изображения (IBG)
[class*="-ibg"] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }
}

[class*="-ibg_contain"] img {
  object-fit: contain;
}

// 3. Сокращение scrollbar
%hidescroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

%grayfilter {
  transition: filter 0.3s ease;
  filter: grayscale(100%);

  @media (hover: hover) {
    // Чистый современный медиа-запрос
    &:hover {
      filter: grayscale(0%);
    }
  }
}
